

  @media screen and (min-width: 768px) and (max-width: 992px) {
   
  
    .about-section {
      flex-direction: column;
      text-align: center;
      gap: 40px;
      
    }
  
    .image-section img {
        width: 100px;
        height: 200px;
      }
    .about-section div {
        text-align: center;
      width: 100%;
      justify-content: center;
    }
  
  }
  